.catAction__container{
    width:350px;
    height:425px;
    border-radius: 10px;
    border: 0.1px solid grey;
}

.catAction__imageContainer{
    height:320px;
    width:100%;
    border-radius: 10px 10px 0 0;
    background-size:cover;
}

@media (max-width: 480px){
    .catAction__container{
        width:285px;
    }
}

@media (max-width: 411px){
    .catAction__container{
        width:265px;
    }
}

.catAction__Count{
    text-align:center;
    font-size:small;
    margin-top:5px;
}